body{
    background-color: rgb(86, 112, 47) ;
}


nav {
    background-color: red;
    background-image: linear-gradient(315deg, blue 0%, red 74%);
    padding: 1rem;
    color: white;
  }

  .a1{
    background-color: red;
    background-image: linear-gradient(315deg, blue 0%, red 74%);
    padding: 1rem;
    color: white;
  }
  
  .a2{
    background-color: red;
    background-image: linear-gradient(315deg, blue 0%, red 74%);
    padding: 1rem;
    color: white;
  }