body{
    background-color: rgb(136, 91, 91);
}

iframe{
    height: 99vh;
    width: 200vh;
}

nav{
    background-color: red;
    background-image: linear-gradient(315deg, blue 0%, red 74%);
    padding: 1rem;
    color: white;
  }

  .a1{
    background-color: red;
    background-image: linear-gradient(315deg, blue 0%, red 74%);
    padding: 1rem;
    color: white;
  }
  
  .a2{
    background-color: red;
    background-image: linear-gradient(315deg, blue 0%, red 74%);
    padding: 1rem;
    color: white;
  }